USE [master]
GO
/****** Object:  Database [ONG_Asistentes]    Script Date: 28/6/2021 06:36:36 ******/
CREATE DATABASE [ONG_Asistentes]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ONG_Asistentes', FILENAME = N'B:\Programas\MSSQL14.SQLEXPRESS\MSSQL\DATA\ONG_Asistentes.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ONG_Asistentes_log', FILENAME = N'B:\Programas\MSSQL14.SQLEXPRESS\MSSQL\DATA\ONG_Asistentes_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ONG_Asistentes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ONG_Asistentes]
GO
/****** Object:  Table [dbo].[Clasificaciones]    Script Date: 28/6/2021 06:36:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clasificaciones](
	[Id_Clasificacion] [varchar](4) NOT NULL,
	[Nombre_Clasificacion] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Clasificaciones] PRIMARY KEY CLUSTERED 
(
	[Id_Clasificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comedores_ONG]    Script Date: 28/6/2021 06:36:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comedores_ONG](
	[ID_Come] [int] IDENTITY(1,1) NOT NULL,
	[CUIT_Come] [varchar](11) NOT NULL,
	[IDProv_Come] [varchar](4) NOT NULL,
	[IDLocalidad_Come] [varchar](4) NOT NULL,
	[IDClasificacion_Come] [varchar](4) NOT NULL,
	[Dirección] [varchar](30) NOT NULL,
	[Telefono_Come] [varchar](15) NULL,
 CONSTRAINT [PK_Comedores_ong] PRIMARY KEY CLUSTERED 
(
	[ID_Come] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comensales]    Script Date: 28/6/2021 06:36:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comensales](
	[DNI_Persona] [varchar](10) NOT NULL,
	[ID_Informes_Comensales] [int] NOT NULL,
	[Edad_Persona] [int] NOT NULL,
	[Nombre_Persona] [varchar](30) NOT NULL,
	[Apellido_Persona] [varchar](30) NOT NULL,
	[Telefono_Persona1] [varchar](15) NULL,
 CONSTRAINT [PK_Comensales] PRIMARY KEY CLUSTERED 
(
	[DNI_Persona] ASC,
	[ID_Informes_Comensales] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Funciones]    Script Date: 28/6/2021 06:36:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funciones](
	[Id_Funcion] [varchar](4) NOT NULL,
	[Nombre_Funcion] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Funciones] PRIMARY KEY CLUSTERED 
(
	[Id_Funcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Informes]    Script Date: 28/6/2021 06:36:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Informes](
	[ID_Informe] [int] IDENTITY(1,1) NOT NULL,
	[Fecha_Informe] [varchar](10) NOT NULL,
	[ID_RangoEdad_Informe] [varchar](4) NOT NULL,
	[CantidadPersonas_Informe] [int] NOT NULL,
	[ID_Prestacion_Informe] [varchar](4) NOT NULL,
	[Legajo_Informe] [varchar](4) NOT NULL,
	[ID_Comedor_Informe] [int] NULL,
 CONSTRAINT [PK_Informes] PRIMARY KEY CLUSTERED 
(
	[ID_Informe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Infraestructura]    Script Date: 28/6/2021 06:36:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Infraestructura](
	[ID_Servicio_Infraestructura] [varchar](4) NOT NULL,
	[ID_Comedor_Infraestructura] [int] NOT NULL,
 CONSTRAINT [PK_Infraestructura] PRIMARY KEY CLUSTERED 
(
	[ID_Servicio_Infraestructura] ASC,
	[ID_Comedor_Infraestructura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Localidades]    Script Date: 28/6/2021 06:36:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Localidades](
	[ID_Localidad] [varchar](4) NOT NULL,
	[Id_Provincia_Localidad] [varchar](4) NOT NULL,
	[Nombre_Localidad] [varchar](75) NULL,
 CONSTRAINT [PK_Localidades] PRIMARY KEY CLUSTERED 
(
	[ID_Localidad] ASC,
	[Id_Provincia_Localidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personal_ONG]    Script Date: 28/6/2021 06:36:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personal_ONG](
	[DNI_Colaborador_Personal] [varchar](10) NOT NULL,
	[ID_Come_Personal] [int] IDENTITY(1,1) NOT NULL,
	[IDfuncion_Colaborador_Personal] [varchar](4) NOT NULL,
	[Nombre_Colaborador] [varchar](30) NOT NULL,
	[Apellido_Colaborador] [varchar](30) NOT NULL,
	[Telefono_Colaborador] [varchar](15) NOT NULL,
	[Direccion_Colaborador] [varchar](30) NOT NULL,
	[Responsable] [bit] NOT NULL,
 CONSTRAINT [PK_Personal_ONG] PRIMARY KEY CLUSTERED 
(
	[DNI_Colaborador_Personal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prestaciones]    Script Date: 28/6/2021 06:36:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prestaciones](
	[ID_Prestacion] [varchar](4) NOT NULL,
	[Nombre_Prestacion] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Prestaciones] PRIMARY KEY CLUSTERED 
(
	[ID_Prestacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provincias]    Script Date: 28/6/2021 06:36:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincias](
	[ID_Provincia] [varchar](4) NOT NULL,
	[Nombre_Provincia] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Provincias] PRIMARY KEY CLUSTERED 
(
	[ID_Provincia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rango_Edad]    Script Date: 28/6/2021 06:36:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rango_Edad](
	[ID_Rango_Edad] [varchar](4) NOT NULL,
	[Rango] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Rango_Edad] PRIMARY KEY CLUSTERED 
(
	[ID_Rango_Edad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servicios]    Script Date: 28/6/2021 06:36:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicios](
	[ID_Servicio] [varchar](4) NOT NULL,
	[Nombre_Servicio] [varchar](30) NULL,
 CONSTRAINT [PK_Servicios] PRIMARY KEY CLUSTERED 
(
	[ID_Servicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios_ONG]    Script Date: 28/6/2021 06:36:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios_ONG](
	[Legajo_ONG] [varchar](4) NOT NULL,
	[nivelUsuario_ONG] [bit] NOT NULL,
	[Contraseña_ONG] [varchar](9) NOT NULL,
	[nombre_ONG] [varchar](30) NOT NULL,
	[apellido_ONG] [varchar](30) NOT NULL,
	[Email_ONG] [varchar](50) NULL,
	[Direccion_ONG] [varchar](30) NOT NULL,
	[DNI_ONG] [varchar](10) NOT NULL,
	[fechaIngreso_ONG] [varchar](10) NOT NULL,
	[telefono_ONG] [varchar](15) NULL,
	[URL_Imagen] [varchar](100) NULL,
 CONSTRAINT [PK_Usuarios_ong] PRIMARY KEY CLUSTERED 
(
	[Legajo_ONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Clasificaciones] ([Id_Clasificacion], [Nombre_Clasificacion]) VALUES (N'c1', N'Barrio')
INSERT [dbo].[Clasificaciones] ([Id_Clasificacion], [Nombre_Clasificacion]) VALUES (N'c2', N'Asentamiento')
INSERT [dbo].[Clasificaciones] ([Id_Clasificacion], [Nombre_Clasificacion]) VALUES (N'c3', N'Barrio Municipal')
GO
SET IDENTITY_INSERT [dbo].[Comedores_ONG] ON 

INSERT [dbo].[Comedores_ONG] ([ID_Come], [CUIT_Come], [IDProv_Come], [IDLocalidad_Come], [IDClasificacion_Come], [Dirección], [Telefono_Come]) VALUES (12, N'2039438482', N'1', N'100', N'c3', N'Tierra 213', N'123123431')
INSERT [dbo].[Comedores_ONG] ([ID_Come], [CUIT_Come], [IDProv_Come], [IDLocalidad_Come], [IDClasificacion_Come], [Dirección], [Telefono_Come]) VALUES (13, N'323144321', N'13', N'1273', N'c4', N'Aire 3134', N'123441331')
INSERT [dbo].[Comedores_ONG] ([ID_Come], [CUIT_Come], [IDProv_Come], [IDLocalidad_Come], [IDClasificacion_Come], [Dirección], [Telefono_Come]) VALUES (14, N'232341145', N'18', N'1611', N'c5', N'Rafel 3234', N'124141413')
SET IDENTITY_INSERT [dbo].[Comedores_ONG] OFF
GO
INSERT [dbo].[Comensales] ([DNI_Persona], [ID_Informes_Comensales], [Edad_Persona], [Nombre_Persona], [Apellido_Persona], [Telefono_Persona1]) VALUES (N'11324432', 16, 66, N'Ramon', N'Felix', N'14242452')
INSERT [dbo].[Comensales] ([DNI_Persona], [ID_Informes_Comensales], [Edad_Persona], [Nombre_Persona], [Apellido_Persona], [Telefono_Persona1]) VALUES (N'233123', 16, 77, N'Lucia', N'Martinez', N'43312312')
INSERT [dbo].[Comensales] ([DNI_Persona], [ID_Informes_Comensales], [Edad_Persona], [Nombre_Persona], [Apellido_Persona], [Telefono_Persona1]) VALUES (N'4334312', 16, 73, N'Jose', N'Perez', N'43134123')
GO
SET IDENTITY_INSERT [dbo].[Informes] ON 

INSERT [dbo].[Informes] ([ID_Informe], [Fecha_Informe], [ID_RangoEdad_Informe], [CantidadPersonas_Informe], [ID_Prestacion_Informe], [Legajo_Informe], [ID_Comedor_Informe]) VALUES (14, N'28/6/2021', N'2', 18, N'2', N'mau2', 13)
INSERT [dbo].[Informes] ([ID_Informe], [Fecha_Informe], [ID_RangoEdad_Informe], [CantidadPersonas_Informe], [ID_Prestacion_Informe], [Legajo_Informe], [ID_Comedor_Informe]) VALUES (15, N'30/5/2021', N'0', 16, N'2', N'mau2', 14)
INSERT [dbo].[Informes] ([ID_Informe], [Fecha_Informe], [ID_RangoEdad_Informe], [CantidadPersonas_Informe], [ID_Prestacion_Informe], [Legajo_Informe], [ID_Comedor_Informe]) VALUES (16, N'30/3/2021', N'4', 20, N'3', N'tam1', 16)
SET IDENTITY_INSERT [dbo].[Informes] OFF
GO
INSERT [dbo].[Infraestructura] ([ID_Servicio_Infraestructura], [ID_Comedor_Infraestructura]) VALUES (N'0', 12)
INSERT [dbo].[Infraestructura] ([ID_Servicio_Infraestructura], [ID_Comedor_Infraestructura]) VALUES (N'0', 13)
INSERT [dbo].[Infraestructura] ([ID_Servicio_Infraestructura], [ID_Comedor_Infraestructura]) VALUES (N'0', 14)
GO
INSERT [dbo].[Localidades] ([ID_Localidad], [Id_Provincia_Localidad], [Nombre_Localidad]) VALUES (N'1', N'1', N'11 DE SEPTIEMBRE')
INSERT [dbo].[Localidades] ([ID_Localidad], [Id_Provincia_Localidad], [Nombre_Localidad]) VALUES (N'10', N'1', N'AGRONOMÍA')
INSERT [dbo].[Localidades] ([ID_Localidad], [Id_Provincia_Localidad], [Nombre_Localidad]) VALUES (N'100', N'1', N'FLORENCIO VARELA')
GO
INSERT [dbo].[Prestaciones] ([ID_Prestacion], [Nombre_Prestacion]) VALUES (N'0', N'Desayuno')
INSERT [dbo].[Prestaciones] ([ID_Prestacion], [Nombre_Prestacion]) VALUES (N'1', N'Almuerzo')
INSERT [dbo].[Prestaciones] ([ID_Prestacion], [Nombre_Prestacion]) VALUES (N'2', N'Merienda')
GO
INSERT [dbo].[Provincias] ([ID_Provincia], [Nombre_Provincia]) VALUES (N'1', N'BUENOS AIRES')
INSERT [dbo].[Provincias] ([ID_Provincia], [Nombre_Provincia]) VALUES (N'10', N'LA PAMPA')
INSERT [dbo].[Provincias] ([ID_Provincia], [Nombre_Provincia]) VALUES (N'11', N'LA RIOJA')
GO
INSERT [dbo].[Rango_Edad] ([ID_Rango_Edad], [Rango]) VALUES (N'0', N'1-10')
INSERT [dbo].[Rango_Edad] ([ID_Rango_Edad], [Rango]) VALUES (N'1', N'10-20')
INSERT [dbo].[Rango_Edad] ([ID_Rango_Edad], [Rango]) VALUES (N'2', N'20-40')
GO
INSERT [dbo].[Servicios] ([ID_Servicio], [Nombre_Servicio]) VALUES (N'0', N'Agua')
INSERT [dbo].[Servicios] ([ID_Servicio], [Nombre_Servicio]) VALUES (N'1', N'Luz')
INSERT [dbo].[Servicios] ([ID_Servicio], [Nombre_Servicio]) VALUES (N'2', N'Gas')
GO
INSERT [dbo].[Usuarios_ONG] ([Legajo_ONG], [nivelUsuario_ONG], [Contraseña_ONG], [nombre_ONG], [apellido_ONG], [Email_ONG], [Direccion_ONG], [DNI_ONG], [fechaIngreso_ONG], [telefono_ONG], [URL_Imagen]) VALUES (N'adm1', 1, N'adm1', N'Claudio', N'Fernandez', N'claudio@hotmail.com', N'Avenida Libertador 213', N'27344182', N'13/2/2021', N'1244312431', NULL)
INSERT [dbo].[Usuarios_ONG] ([Legajo_ONG], [nivelUsuario_ONG], [Contraseña_ONG], [nombre_ONG], [apellido_ONG], [Email_ONG], [Direccion_ONG], [DNI_ONG], [fechaIngreso_ONG], [telefono_ONG], [URL_Imagen]) VALUES (N'lau2', 1, N'contra', N'Laura', N'Mendoza', N'laura@mendoza.com', N'rael 231', N'23332412', N'29/4/2021', N'2244143', NULL)
INSERT [dbo].[Usuarios_ONG] ([Legajo_ONG], [nivelUsuario_ONG], [Contraseña_ONG], [nombre_ONG], [apellido_ONG], [Email_ONG], [Direccion_ONG], [DNI_ONG], [fechaIngreso_ONG], [telefono_ONG], [URL_Imagen]) VALUES (N'mau2', 0, N'12345', N'Mauro', N'Leguiza', N'mauro@hotmail.com', N'Fuego 321', N'38554304', N'31/5/2021', N'1112445511', NULL)
GO
ALTER TABLE [dbo].[Comedores_ONG]  WITH CHECK ADD  CONSTRAINT [FK_Comedores] FOREIGN KEY([IDClasificacion_Come])
REFERENCES [dbo].[Clasificaciones] ([Id_Clasificacion])
GO
ALTER TABLE [dbo].[Comedores_ONG] CHECK CONSTRAINT [FK_Comedores]
GO
ALTER TABLE [dbo].[Comedores_ONG]  WITH CHECK ADD  CONSTRAINT [FK_Comedores_ong] FOREIGN KEY([IDLocalidad_Come], [IDProv_Come])
REFERENCES [dbo].[Localidades] ([ID_Localidad], [Id_Provincia_Localidad])
GO
ALTER TABLE [dbo].[Comedores_ONG] CHECK CONSTRAINT [FK_Comedores_ong]
GO
ALTER TABLE [dbo].[Comensales]  WITH CHECK ADD  CONSTRAINT [FK_IDInformes] FOREIGN KEY([ID_Informes_Comensales])
REFERENCES [dbo].[Informes] ([ID_Informe])
GO
ALTER TABLE [dbo].[Comensales] CHECK CONSTRAINT [FK_IDInformes]
GO
ALTER TABLE [dbo].[Informes]  WITH CHECK ADD  CONSTRAINT [FK_Comedor] FOREIGN KEY([ID_Comedor_Informe])
REFERENCES [dbo].[Comedores_ONG] ([ID_Come])
GO
ALTER TABLE [dbo].[Informes] CHECK CONSTRAINT [FK_Comedor]
GO
ALTER TABLE [dbo].[Informes]  WITH CHECK ADD  CONSTRAINT [FK_Legajo] FOREIGN KEY([Legajo_Informe])
REFERENCES [dbo].[Usuarios_ONG] ([Legajo_ONG])
GO
ALTER TABLE [dbo].[Informes] CHECK CONSTRAINT [FK_Legajo]
GO
ALTER TABLE [dbo].[Informes]  WITH CHECK ADD  CONSTRAINT [FK_Prestacion] FOREIGN KEY([ID_Prestacion_Informe])
REFERENCES [dbo].[Prestaciones] ([ID_Prestacion])
GO
ALTER TABLE [dbo].[Informes] CHECK CONSTRAINT [FK_Prestacion]
GO
ALTER TABLE [dbo].[Informes]  WITH CHECK ADD  CONSTRAINT [FK_RangoEdad] FOREIGN KEY([ID_RangoEdad_Informe])
REFERENCES [dbo].[Rango_Edad] ([ID_Rango_Edad])
GO
ALTER TABLE [dbo].[Informes] CHECK CONSTRAINT [FK_RangoEdad]
GO
ALTER TABLE [dbo].[Infraestructura]  WITH CHECK ADD  CONSTRAINT [FK_Infraestructura] FOREIGN KEY([ID_Servicio_Infraestructura])
REFERENCES [dbo].[Servicios] ([ID_Servicio])
GO
ALTER TABLE [dbo].[Infraestructura] CHECK CONSTRAINT [FK_Infraestructura]
GO
ALTER TABLE [dbo].[Infraestructura]  WITH CHECK ADD  CONSTRAINT [FK_Infraestructura_Comedores_ONG] FOREIGN KEY([ID_Comedor_Infraestructura])
REFERENCES [dbo].[Comedores_ONG] ([ID_Come])
GO
ALTER TABLE [dbo].[Infraestructura] CHECK CONSTRAINT [FK_Infraestructura_Comedores_ONG]
GO
ALTER TABLE [dbo].[Localidades]  WITH CHECK ADD  CONSTRAINT [FK_Localidades] FOREIGN KEY([Id_Provincia_Localidad])
REFERENCES [dbo].[Provincias] ([ID_Provincia])
GO
ALTER TABLE [dbo].[Localidades] CHECK CONSTRAINT [FK_Localidades]
GO
/****** Object:  StoredProcedure [dbo].[sp_Promedio]    Script Date: 28/6/2021 06:36:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_Promedio]
@IDCOME int
as
select avg(cantidadpersonas_informe) as 'promedio'
from Informes
where id_comedor_informe = @IDCOME
GO
/****** Object:  StoredProcedure [dbo].[spActualizarComedor]    Script Date: 28/6/2021 06:36:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[spActualizarComedor]
(
@IDCOME int,
@TELEFONO varchar(15)
)
as
Update Comedores_ONG set Telefono_Come=@TELEFONO where ID_Come=@IDCOME
GO
/****** Object:  StoredProcedure [dbo].[spAgregarComedor]    Script Date: 28/6/2021 06:36:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spAgregarComedor]
(
@CUITCOMEDOR varchar(11),
@CLASIFICACIONCOMEDOR varchar(4),
@IDPROVINCIACOMEDOR varchar(4),
@IDLOCALIDADCOMEDOR varchar(4),
@DIRECCIONCOMEDOR varchar(30),
@TELEFONOCOMEDOR varchar(15)

)
AS
INSERT INTO Comedores_ONG(CUIT_Come,IDClasificacion_Come,IDProv_Come,IDLocalidad_Come,Dirección,Telefono_Come)
values
(@CUITCOMEDOR,@CLASIFICACIONCOMEDOR,@IDPROVINCIACOMEDOR,@IDLOCALIDADCOMEDOR,@DIRECCIONCOMEDOR,@TELEFONOCOMEDOR)

GO
/****** Object:  StoredProcedure [dbo].[SPAgregarComensales]    Script Date: 28/6/2021 06:36:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SPAgregarComensales]
@DNI varchar(10),
@IDINFORME int,
@EDAD int,
@NOMBRE varchar(30),
@APELLIDO varchar(30),
@TELEFONO varchar(15)
as
INSERT INTO Comensales(DNI_Persona,ID_Informes_comensales,edad_Persona,Nombre_Persona,Apellido_Persona,Telefono_Persona1)
values (@DNI,@IDINFORME,@EDAD,@NOMBRE,@APELLIDO,@TELEFONO)
GO
/****** Object:  StoredProcedure [dbo].[SPAgregarInforme]    Script Date: 28/6/2021 06:36:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SPAgregarInforme]
@FECHA varchar(10),
@IDRANGOEDAD varchar(4),
@CANTIDADPERSONAS int,
@IDPRESTACION varchar(4),
@LEGAJO varchar(4),
@IDCOME int
as
INSERT INTO Informes(Fecha_Informe,ID_RangoEdad_Informe,CantidadPersonas_Informe,ID_Prestacion_Informe,Legajo_Informe,ID_Comedor_Informe)
values (@FECHA,@IDRANGOEDAD,@CANTIDADPERSONAS,@IDPRESTACION,@LEGAJO,@IDCOME)
GO
/****** Object:  StoredProcedure [dbo].[spAgregarInfraestructura]    Script Date: 28/6/2021 06:36:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spAgregarInfraestructura]
(
@IDCOMEDOR int,
@ID_SERVICIO varchar(4)
)
AS
INSERT INTO Infraestructura(ID_Comedor_Infraestructura,ID_Servicio_Infraestructura)
VALUES
(@IDCOMEDOR,@ID_SERVICIO)
GO
/****** Object:  StoredProcedure [dbo].[spAgregarUsuario]    Script Date: 28/6/2021 06:36:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spAgregarUsuario]
(
@LEGAJOUSUARIO varchar (4),
@CONTRASEÑAUSUARIO varchar (6),
@IDNIVELUSUARIO bit,
@DNIUSUARIO varchar (10),
@NOMBREUSUARIO varchar (30),
@APELLIDOUSUARIO varchar (30),
@FECHAINGRESOUSUARIO varchar (10),
@TELEFONOUSUARIO varchar (30),
@EMAILUSUARIO varchar (30),
@DIRECCIONUSUARIO varchar (30)
)
as
insert into Usuarios_ONG (Legajo_ONG, nivelUsuario_ONG, nombre_ONG, apellido_ONG, DNI_ONG, fechaIngreso_ONG, telefono_ONG, 
Contraseña_ONG, email_ONG, Direccion_ONG)
values
(@LEGAJOUSUARIO, @IDNIVELUSUARIO, @NOMBREUSUARIO, @APELLIDOUSUARIO, @DNIUSUARIO, @FECHAINGRESOUSUARIO, @TELEFONOUSUARIO,
@CONTRASEÑAUSUARIO, @EMAILUSUARIO, @DIRECCIONUSUARIO)
GO
/****** Object:  StoredProcedure [dbo].[SPEditarUsuario]    Script Date: 28/6/2021 06:36:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SPEditarUsuario]
@LEG varchar (4),
@CONTRA varchar(9),
@MAIL varchar(50),
@DIR varchar(50),
@TEL varchar(15)
as
update Usuarios_ONG set Contraseña_ONG= @CONTRA where Legajo_ONG= @LEG
update Usuarios_ONG set Email_ONG= @MAIL where Legajo_ONG= @LEG
update Usuarios_ONG set Direccion_ONG= @DIR where Legajo_ONG= @LEG 
update Usuarios_ONG set telefono_ONG= @TEL where Legajo_ONG= @LEG 

GO
/****** Object:  StoredProcedure [dbo].[SPEditarUsuarioContraseña]    Script Date: 28/6/2021 06:36:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SPEditarUsuarioContraseña]
@LEG varchar (4),
@CONTRA varchar(9)
as
update Usuarios_ONG set Contraseña_ONG= @CONTRA where Legajo_ONG= @LEG 
GO
/****** Object:  StoredProcedure [dbo].[spEliminarComedor]    Script Date: 28/6/2021 06:36:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spEliminarComedor]
(
@IDCOMEDOR varchar(4)
)
as
delete from Infraestructura where ID_Comedor_Infraestructura = @IDCOMEDOR
delete from Comedores_ONG where ID_Come = @IDCOMEDOR
GO
/****** Object:  StoredProcedure [dbo].[spEliminarUsuario]    Script Date: 28/6/2021 06:36:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[spEliminarUsuario]
(
@LEGAJOUSUARIO varchar(4)
)
as
delete from Usuarios_ONG 
where Legajo_ONG = @LEGAJOUSUARIO





GO
/****** Object:  StoredProcedure [dbo].[spEliminarUsuarioInfo]    Script Date: 28/6/2021 06:36:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spEliminarUsuarioInfo]
@LEGAJOUSUARIO varchar (4)
as
delete from Informes 
where Legajo_Informe = @LEGAJOUSUARIO
GO
/****** Object:  StoredProcedure [dbo].[spEliminarUsuComensales]    Script Date: 28/6/2021 06:36:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spEliminarUsuComensales]
@LEGAJOUSUARIO varchar (4)
as
delete Comensales from Comensales inner join Informes
on ID_Informes_Comensales = ID_Informe
where Legajo_Informe = @LEGAJOUSUARIO
GO
USE [master]
GO
